@font-face{
	font-family: 'Fira Sans Regular';
	src:url('../fonts/FiraSansRegular/FiraSansRegular.eot') format('eot'),
		url('../fonts/FiraSansRegular/FiraSansRegular.ttf') format('truetype'),
		url('../fonts/FiraSansRegular/FiraSansRegular.woff') format('woff');
		font-display:swap;
}


@font-face{
	font-family: 'RalewayBold';
	src:url('../fonts/RalewayBold/RalewayBold.eot') format('eot'),
	url('../fonts/RalewayBold/RalewayBold.ttf') format('truetype'),
	url('../fonts/RalewayBold/RalewayBold.woff') format('woff');
	font-display:swap;
}


@font-face{
	font-family: 'Raleway Extra Bold';
	src:url('../fonts/RalewayExtraBold/RalewayExtraBold.eot') format('eot'),
	url('../fonts/RalewayExtraBold/RalewayExtraBold.ttf') format('truetype'),
	url('../fonts/RalewayExtraBold/RalewayExtraBold.woff') format('woff');
	font-display:swap;
}

@font-face{
	font-family: 'Raleway Light';
	src:url('../fonts/RalewayLight/RalewayLight.eot') format('eot'),
	url('../fonts/RalewayLight/RalewayLight.ttf') format('truetype'),
	url('../fonts/RalewayLight/RalewayLight.woff') format('woff');
	font-display:swap;
}
@font-face{
	font-family: 'Raleway Regular';
	src:url('../fonts/RalewayRegular/RalewayRegular.eot') format('eot'),
	url('../fonts/RalewayRegular/RalewayRegular.ttf') format('truetype'),
	url('../fonts/RalewayRegular/RalewayRegular.woff') format('woff');
	font-display:swap;
}








