.bg_2_fon{
	background: url('../img/bg-5.jpg') no-repeat center;
	background-size: cover;
	position: relative;

}
.bg_2_fon:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(61,60,60,0.9);

}

.bg2_colortext{
	color: #f9c766;
}
.bg_block_text h2{
	text-transform: uppercase;
}
.bg_block_text{
color: #fff;	
}
.bg2_block{
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 60px 25px;
	position: relative;
	z-index: 99;
}

.bg_block_fotorama{
	width:  48%;
}

.bg_block_text{
	width:  43%;
}

.bg2_block .fotorama__nav.fotorama__nav--thumbs{
	position: absolute;
    z-index: 3;
    bottom: 0;
}

.bg_block_text p{
	    letter-spacing: 1.4px;
    word-spacing: 1.5px;
}
.bg2_block .fotorama__thumb-border{
	    border-color: #ffffff;
}







@media (max-width: 767px){
	.bg_block_fotorama{
	width:100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bg_block_text{
	width:  100%;

}
.bg_block_text p{
	text-align: center;
}
.bg_block_text h2{
	text-align: center;
}
.bg2_block .fotorama__nav.fotorama__nav--thumbs{
	position: inherit;
    z-index: 3;

}





}






































